//@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
//@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body.popup {
	width: 450px;
	margin: 10px 0;
	font-family: Roboto, sans-serif;

	transition: all .2s;
}

#header {
	margin-bottom: 10px;
	font-weight: bold;
}

#table-rates {
  margin: 15px 0;

	thead {
		color: #888;
	}

	.gap-name,
	.rate-name {
		font-size: 13px;
		text-align: right;
		text-transform: uppercase;
		font-weight: bold;
		color: #676767;
    vertical-align:middle;
	}

	.rate-buy,
	.rate-sell,
	.gap-value {
		position: relative;
		text-align: center;
		font-family: Inconsolata, monospace;
		font-weight: bold;
		font-size: 18px;
		color: #444;
	}

	.rate-icon {
		float: left;
		opacity: 0.8;
		font-size: 15px;
	}

	.rate-blue .rate-icon {
		color: blue;
	}

	.rate-oficial,
	.rate-ahorro,
	.rate-tarjeta {
		.rate-icon {
			color: green;
		}
	}

	.rate-buy,
	.rate-sell {
		width: 30%;
	}

	.gap-name {
		color: #A73D3D;
		opacity: 0.9;
	}

	.gap-value {
		font-size: 16px;
	}

	.variation-up,
	.variation-down {
		font-size: 20px;
		position: absolute;
		right: 6px;
		top: 10px;
		opacity: 0.8;
	}

	.variation-up {
		.text-danger;
	}

	.variation-down {
		.text-success;
	}

	margin-bottom: 10px;
}

#footer {
	color: #555;
	font-size: 12px;
}

#source {
	margin-top: 4px;
	color: #888;
}

#calculator-toggle {
	float: right;

	input[type=checkbox] {
		display: none;
	}
}

body.calculator {
	width: 620px;

	#table-rates {
		.rate-buy,
		.rate-sell {
			width: 35%;
    	padding-bottom: 4px;
		}

		.value {
			margin-bottom: 6px;
		}

		.rate-buy,
		.rate-sell,
		.gap-value {
			font-size: 16px;
			line-height: 16px;
		}
	}

	.dbi-converter {
		.input-group {
			width: 44%;

			&.dollars {
 	  		float: left;
	    	.input-group-addon {
			    font-size: 12px;
			  }
			}

			&.pesos {
 	  		float: right;
			}

    	.input-group-addon {
    		padding: 2px 4px;
		    font-size: 13px;
		    width: 25px;
		    height: 28px;
    	}

    	.form-control {
		    height: 28px;
		    font-size: 16px;
    		padding: 2px 4px;
    	}
		}

		.separator {
			float: left;
			width: 12%;
			font-size: 14px;
  		line-height: 30px;
		}
	}
}
